In [134]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [135]:
df = pd.read_csv (r'dataset/survey.csv')

In [136]:
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [138]:
df.treatment

0       Yes
1        No
2        No
3       Yes
4        No
       ...
1254    Yes
1255    Yes
1256    Yes
1257     No
1258    Yes
Name: treatment, Length: 1259, dtype: object

Seeing the amount of null values per column

In [139]:
df.treatment.unique()

array(['Yes', 'No'], dtype=object)

In [140]:
df.isnull().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

In [141]:
df.shape

(1259, 27)

In [142]:
print('Timestamp => ', df['Timestamp'].unique())
print('Age => ', df['Age'].unique())
print('Gender => ', df['Gender'].unique())
print('Country => ', df['Country'].unique())
print('self_employed => ', df['self_employed'].unique())
print('family_history => ', df['family_history'].unique())
print('treatment => ', df['treatment'].unique())
print('work_interfere => ', df['work_interfere'].unique())
print('no_employees => ', df['no_employees'].unique())
print('remote_work => ', df['remote_work'].unique())
print('tech_company => ', df['tech_company'].unique())
print('benefits => ', df['benefits'].unique())
print('care_options => ', df['care_options'].unique())
print('wellness_program => ', df['wellness_program'].unique())
print('seek_help => ', df['seek_help'].unique())
print('anonymity => ', df['anonymity'].unique())
print('leave => ', df['leave'].unique())
print('mental_health_consequence => ', df['mental_health_consequence'].unique())
print('phys_health_consequence => ', df['phys_health_consequence'].unique())
print('coworkers => ', df['coworkers'].unique())
print('supervisor => ', df['supervisor'].unique())
print('mental_health_interview => ', df['mental_health_interview'].unique())
print('phys_health_interview => ', df['phys_health_interview'].unique())
print('mental_vs_physical => ', df['mental_vs_physical'].unique())
print('obs_consequence => ', df['obs_consequence'].unique())

Timestamp =>  ['2014-08-27 11:29:31' '2014-08-27 11:29:37' '2014-08-27 11:29:44' ...
 '2015-11-07 12:36:58' '2015-11-30 21:25:06' '2016-02-01 23:04:31']
Age =>  [         37          44          32          31          33          35
          39          42          23          29          36          27
          46          41          34          30          40          38
          50          24          18          28          26          22
          19          25          45          21         -29          43
          56          60          54         329          55 99999999999
          48          20          57          58          47          62
          51          65          49       -1726           5          53
          61           8          11          -1          72]
Gender =>  ['Female' 'M' 'Male' 'male' 'female' 'm' 'Male-ish' 'maile' 'Trans-female'
 'Cis Female' 'F' 'something kinda male?' 'Cis Male' 'Woman' 'f' 'Mal'
 'Male (CIS)' 'queer/she/they' 'non-binary' 'Femake' 'woman' 'Make' 'Nah'
 'All' 'Enby' 'fluid' 'Genderqueer' 'Female ' 'Androgyne' 'Agender'
 'cis-female/femme' 'Guy (-ish) ^_^' 'male leaning androgynous' 'Male '
 'Man' 'Trans woman' 'msle' 'Neuter' 'Female (trans)' 'queer'
 'Female (cis)' 'Mail' 'cis male' 'A little about you' 'Malr' 'p' 'femail'
 'Cis Man' 'ostensibly male, unsure what that really means']
Country =>  ['United States' 'Canada' 'United Kingdom' 'Bulgaria' 'France' 'Portugal'
 'Netherlands' 'Switzerland' 'Poland' 'Australia' 'Germany' 'Russia'
 'Mexico' 'Brazil' 'Slovenia' 'Costa Rica' 'Austria' 'Ireland' 'India'
 'South Africa' 'Italy' 'Sweden' 'Colombia' 'Latvia' 'Romania' 'Belgium'
 'New Zealand' 'Zimbabwe' 'Spain' 'Finland' 'Uruguay' 'Israel'
 'Bosnia and Herzegovina' 'Hungary' 'Singapore' 'Japan' 'Nigeria'
 'Croatia' 'Norway' 'Thailand' 'Denmark' 'Bahamas, The' 'Greece' 'Moldova'
 'Georgia' 'China' 'Czech Republic' 'Philippines']
self_employed =>  [nan 'Yes' 'No']
family_history =>  ['No' 'Yes']
treatment =>  ['Yes' 'No']
work_interfere =>  ['Often' 'Rarely' 'Never' 'Sometimes' nan]
no_employees =>  ['6-25' 'More than 1000' '26-100' '100-500' '1-5' '500-1000']
remote_work =>  ['No' 'Yes']
tech_company =>  ['Yes' 'No']
benefits =>  ['Yes' "Don't know" 'No']
care_options =>  ['Not sure' 'No' 'Yes']
wellness_program =>  ['No' "Don't know" 'Yes']
seek_help =>  ['Yes' "Don't know" 'No']
anonymity =>  ['Yes' "Don't know" 'No']
leave =>  ['Somewhat easy' "Don't know" 'Somewhat difficult' 'Very difficult'
 'Very easy']
mental_health_consequence =>  ['No' 'Maybe' 'Yes']
phys_health_consequence =>  ['No' 'Yes' 'Maybe']
coworkers =>  ['Some of them' 'No' 'Yes']
supervisor =>  ['Yes' 'No' 'Some of them']
mental_health_interview =>  ['No' 'Yes' 'Maybe']
phys_health_interview =>  ['Maybe' 'No' 'Yes']
mental_vs_physical =>  ['Yes' "Don't know" 'No']
obs_consequence =>  ['No' 'Yes']

Changes null value by mode

In [143]:
df["self_employed"].fillna(df["self_employed"].mode()[0], inplace = True)
df["work_interfere"].fillna(df["work_interfere"].mode()[0], inplace = True)

df.isnull().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                   0
family_history                  0
treatment                       0
work_interfere                  0
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

Encodes string binary value to integer

In [144]:
label_encoder = LabelEncoder()
df.self_employed = label_encoder.fit_transform(df.self_employed)
df.family_history = label_encoder.fit_transform(df.family_history)
df.treatment = label_encoder.fit_transform(df.treatment)
df.remote_work = label_encoder.fit_transform(df.remote_work)
df.tech_company = label_encoder.fit_transform(df.tech_company)
df.obs_consequence = label_encoder.fit_transform(df.obs_consequence)

Getting rid of useless columns

In [145]:
df.drop('Timestamp', 1, inplace = True)
df.drop('state', 1, inplace = True)
df.drop('comments', 1, inplace = True)

df.columns

Index(['Age', 'Gender', 'Country', 'self_employed', 'family_history',
       'treatment', 'work_interfere', 'no_employees', 'remote_work',
       'tech_company', 'benefits', 'care_options', 'wellness_program',
       'seek_help', 'anonymity', 'leave', 'mental_health_consequence',
       'phys_health_consequence', 'coworkers', 'supervisor',
       'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

Check genders.

In [146]:
df.Gender =  df.Gender.str.upper().str.strip()

df.Gender.unique()

array(['FEMALE', 'M', 'MALE', 'MALE-ISH', 'MAILE', 'TRANS-FEMALE',
       'CIS FEMALE', 'F', 'SOMETHING KINDA MALE?', 'CIS MALE', 'WOMAN',
       'MAL', 'MALE (CIS)', 'QUEER/SHE/THEY', 'NON-BINARY', 'FEMAKE',
       'MAKE', 'NAH', 'ALL', 'ENBY', 'FLUID', 'GENDERQUEER', 'ANDROGYNE',
       'AGENDER', 'CIS-FEMALE/FEMME', 'GUY (-ISH) ^_^',
       'MALE LEANING ANDROGYNOUS', 'MAN', 'TRANS WOMAN', 'MSLE', 'NEUTER',
       'FEMALE (TRANS)', 'QUEER', 'FEMALE (CIS)', 'MAIL',
       'A LITTLE ABOUT YOU', 'MALR', 'P', 'FEMAIL', 'CIS MAN',
       'OSTENSIBLY MALE, UNSURE WHAT THAT REALLY MEANS'], dtype=object)

Reducing genders into 3 categories (F/M/O)

In [62]:
female_identifiers = ['FEMALE', 'CIS FEMALE', 'F', 'WOMAN', 'FEMAKE', 
                      'CIS-FEMALE/FEMME', 'FEMALE (CIS)', 'FEMAIL']
male_identifiers = ['M', 'MALE', 'MAILE', 'CIS MALE', 'MAL', 'MALE (CIS)', 
                    'MAKE', 'MAN', 'MSLE', 'MAIL', 'MALR', 'CIS MAN', 
                    'OSTENSIBLY MALE, UNSURE WHAT THAT REALLY MEANS']

female_filter = df.Gender.isin(female_identifiers)
male_filter = df.Gender.isin(male_identifiers)

df.loc[female_filter, 'Gender'] = 'F'
df.loc[male_filter, 'Gender'] = 'M'

other_filter = ~df.Gender.isin(['M', 'F'])
df.loc[other_filter, 'Gender'] = 'O'

In [16]:
df.to_csv(r'outputs/cleaned_survey.csv')